<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC54UBrFT0JQK8J1wg4Ms7Yw68926dq1S0</string>
	<key>GCM_SENDER_ID</key>
	<string>776183833321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aiAssis</string>
	<key>PROJECT_ID</key>
	<string>ai-assistant-33cbf</string>
	<key>STORAGE_BUCKET</key>
	<string>ai-assistant-33cbf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776183833321:ios:2d76a27d1cf26e1c42c678</string>
</dict>
</plist>